PORT="8000"

DATABASE_URL="postgres://postgres:123456@localhost:5432/dnc02_fakebuck"

ACCESS_TOKEN_SECRET="8bMevvsaePC3Z2Z2pq/8Wly4yb9c7ZCNeT05JRNuxHrCWHfhxtU0viSV7nlfkozKGCi4lJ6FS2xz4wVqSQAT+w=="
ACCESS_TOKEN_EXPIRES_IN="86400"